body {
    background-color: darkslategrey;
  }
  #div1 {
    top: 1000px;
    bottom: 10px;
    margin: 50px;
    margin-left: 24%;
    margin-right: 24%;
    padding: 5px;
    align-items: center;
    height: 50%;
    box-sizing: inherit;
    display: block;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
    animation: example 2s forwards;
    position: relative;
    display: grid;
  }

  #div2 {
    left: 50%;
    right: 50%;
    position: static;
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
  }

  #b1 {
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    
    background-color: black;
    margin: 5px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 30px;
    position: static;
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    
  }

  #b2 {
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    
    background-color: black;
    margin: 5px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 30px;
    position: static;
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
  }

  #h1 {
    left: 50%;
    right: 50%;
    display: block;
    font-family: Arial;
    color: white;
    text-align: center;
    position: static;
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
    
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }

  #img1 {
    border: 8px solid rgb(17, 16, 16);
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    height: 50%;
    width: 50%;
    position: static;
    box-sizing: inherit;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
  }

  #p1 {
    left: 50%;
    right: 50%;
    font-size: 24px;
    font-family: Arial;
    color: white;
    text-align: center;
    position: static;
    box-sizing: inherit;
    display: block;
    -webkit-text-size-adjust: 100%;
    size-adjust: auto;
    
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  
  }

  button {
    border: none;
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 15px;
    background-color: black;
    position: static;
    box-sizing: inherit;
    size-adjust: auto;
  }

  @keyframes example {

    100% {

      bottom: 150px;
      top: 10px;

    }
  }