<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>svg</title>
    <% svgDataArray.forEach(svgdata => { %>
        <style><%= svgdata %></style>
      <% }) %>
</head>

<body>    
    <% svgDataArray.forEach(svgdata => { %>
        <svg><%- svgdata %></svg><br>
      <% }) %>
</body>

</html>